<section class="container-fluid d-flex flex-wrap justify-content-center gap-4 mt-4">
    @for(p of productos; track p.id; let i = $index) {
    @if (p.disponible){

    <div class="card position-relative" style="width: 18rem;">
        @if (p.oferta) {
        <div class="position-absolute top-0 start-0 d-flex gap-1 p-2">
            <span class="badge bg-danger">OFERTA</span>
        </div>
        }
        <img src="{{ p.imagen }}" class="card-img-top" alt="{{p.nombre}}">
        <div class="card-body">
            <h5 class="card-title">{{ p.nombre }}</h5>
            <p class="card-text">{{ p.descripcion }}</p>
            <div class="price-container">
                @if (p.oferta) {
                <span class="text-decoration-line-through text-muted small">${{ p.precio }}</span>
                <span class="text-danger fw-bold fs-5">${{ p.precioOferta }}</span>
                } @else {
                <span class="text-dark fw-bold fs-5">${{ p.precio }}</span>
                }
            </div>
            <button class="btn btn-outline-dark me-2" (click)="agregarAlCarrito(p)">
                <i class="bi bi-cart-plus-fill"></i>
            </button>
            <button class="btn btn-outline-danger me-2" (click)="agregarFavorito(p)">
                <i class="bi bi-heart-fill"></i>
            </button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + i">
                Ver detalles
            </button>
            <!-- Modal -->
            <div class="modal fade" [id]="'modal-' + i" tabindex="-1" [attr.aria-labelledby]="'modalLabel-' + i"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" [id]="'modalLabel-' + i">{{ p.nombre }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">
                            <!-- Carrusel -->
                            <div [id]="'carousel-' + i" class="carousel slide">
                                <div class="carousel-indicators text-dark">
                                    @for (imagen of p.imagenes; track $index) {
                                    <button type="button" [attr.data-bs-target]="'#carousel-' + i"
                                        [attr.data-bs-slide-to]="$index" [class.active]="$index === 0"
                                        [attr.aria-current]="$index === 0 ? 'true' : null"
                                        [attr.aria-label]="'Slide ' + ($index + 1)">
                                    </button>
                                    }
                                </div>
                                <div class="carousel-inner">
                                    @for (imagen of p.imagenes; track $index) {
                                    <div class="carousel-item" [class.active]="$index === 0">
                                        <img [src]="imagen" class="d-block w-100" alt="{{p.descripcion}}">
                                    </div>
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    [attr.data-bs-target]="'#carousel-' + i" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>

                                <button class="carousel-control-next" type="button"
                                    [attr.data-bs-target]="'#carousel-' + i" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>

                                <div>
                                    <p class="mt-3">{{ p.descripcion }}</p>
                                    <div class="price-container">
                                        @if (p.oferta) {
                                        <span class="text-decoration-line-through text-muted small">${{ p.precio }}</span>
                                        <span class="text-danger fw-bold fs-5">${{ p.precioOferta }}</span>
                                        <span class="badge bg-danger">OFERTA</span>
                                        } @else {
                                        <span class="text-dark fw-bold fs-5">${{ p.precio }}</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" (click)="agregarAlCarrito(p)">Agregar al carro</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    }

    }
</section>